<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732609014766-0t8i084h3h9ar99vlqsfgb6csccmhk4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732609014766-0t8i084h3h9ar99vlqsfgb6csccmhk4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732609014766-v75h38h7f69vmvrkv8vnds12d1o2h76e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGEoGxpLa94pnHmtWhTFQVAXLFCBMWowo</string>
	<key>GCM_SENDER_ID</key>
	<string>732609014766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softbutter.diabetty</string>
	<key>PROJECT_ID</key>
	<string>diabetty</string>
	<key>STORAGE_BUCKET</key>
	<string>diabetty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732609014766:ios:1f94fe18b477e03e60fcff</string>
	<key>DATABASE_URL</key>
	<string>https://diabetty.firebaseio.com</string>
</dict>
</plist>